<form <% if locale.nil? %>
        action="/update_sources_for_user"
      <% else %>
        action="/<%= locale %>/update_sources_for_user"
      <% end %>
      method="post" class="flex flex-col items-start w-full">
  <% sources.each do |source| %>
    <div class='flex justify-between w-full md:w-1/4'>
      <label for="<%= source.name %>" class='font-semibold'><%= display_name(source.name) %></label>
      <input id="<%= source.name %>" name="source_ids[]" type="checkbox" value=<%= source.id %>
        <% if user_sources && user_sources.include?(source)%>checked<% end %>
      />
    </div>
  <%  end %>
  <div class="flex justify-between items-center w-full md:w-1/4">
    <input type="submit" value="<%= t :validate %>" class='btn-beige mt-4 mr-2 '
      <% if user_sources %>data-turbo-frame="_top"<% end %> />
      <!-- turbo-frame=_top to reload the page -->
    <% if controller.action_name == 'index' %>
      <%= link_to t(:cancel), sources_path, class: 'btn-beige mt-4 '%>
    <% else %>
      <%= link_to t(:cancel), chosen_sources_path, class: 'btn-beige mt-4 '%>
      <% end %>
   </div>
</form>
