<% content_for :meta_description do %>
  <%= t '.meta_description' %>
<% end %>
<section class="sources-container w-8/12 mx-auto mt-12">
  <div class="flex flex-col justify-between items-start">
    <h1 class="font-bold text-lg my-4"><%= t '.title' %></h1>
    <p><%= t '.paragraph' %></p>
  </div>
  <ul class="flex justify-between items-center w-full mb-4">
    <% @sources.each do |source| %>
        <li class="text-center font-semibold bg-beige w-1/4 border rounded p-4 my-8"><%= display_name(source.name) %></li>
    <% end %>
  </ul>
  <div class='mb-8 border rounded border-beige w-full p-6'>
    <h2 class='italic font-bold mb-6'><%= t '.title_form' %> :</h2>
    <%= render 'form', sources: @sources, user_sources: nil %>
  </div>
</section>

