<div class="sources-container w-8/12 mx-auto mt-12">
  <div class="flex flex-col justify-between items-start">
    <h1 class="font-bold text-lg my-4"><%= t '.title' %></h1>
    <p><%= t '.paragraph' %></p>
  </div>
  <ul class="flex justify-between items-center w-full mb-4">
    <% @sources.each do |source| %>
        <li class="text-center font-semibold bg-beige w-1/4 border rounded p-4 my-8"><%= display_name(source.name) %></li>
    <% end %>
  </ul>
  <div class='mb-8 border rounded border-beige w-full p-6'>
    <h2 class='italic font-bold mb-6'><%= t '.title_form' %> :</h2>
    <form action="/add_sources_to_user" method="post" class="flex flex-col items-start w-full">
      <% @sources.each do |source| %>
        <div class='flex justify-between w-1/4'>
          <label for="<%= source.name %>" class='font-semibold'><%= display_name(source.name) %></label>
          <input id="<%= source.name %>" name="source_ids[]" type="checkbox" value=<%= source.id %> />
        </div>
      <%  end %>
      <input type="submit" value="Valider" class='bg-beige border rounded font-semibold w-fit mt-4 p-2 hover:bg-darkblue hover:text-white' />
    </form>
  </div>
</div>

