<div class="urls-container w-8/12 mx-auto mt-12">
  <h1 class="font-bold text-lg my-4">Créer une nouvelle url courte :</h1>
  <%= form_with model: @short_url, class: "flex flex-col mt-4" do |f| %>
    <%= f.label :long_url, "Entrer une url" %>
    <%= f.text_field :long_url %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Créer l'url courte", class: "bg-gray-100 rounded font-semibold mt-4" %>
  <% end %>
</div>
