<div class="login-container flex flex-col w-8/12 h-3/4 mx-auto mt-16">
  <h2 class="font-bold mb-4">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "font-semibold mb-1" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-1/2 mb-2 border rounded bg-beige" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "font-semibold mb-1" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-1/2 mb-2 border rounded bg-beige" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "font-semibold mb-1" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-1/2 mb-2 border rounded bg-beige" %>
    </div>

    <div class="actions my-4">
      <%= f.submit "Sign up", class: "bg-beige border rounded border-beige font-semibold w-fit p-2 hover:bg-darkblue hover:text-white" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
