<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %>, here are the news for today</h1><br>
    <% @news.each do |key, value| %>
        <h2><%= display_name(key) %> :</h2><br>
        <div>
          <% value.each do |elem| %>
            <h3><%= elem[:title]%></h3>
            <p><%= elem[:description]%></p>
            <%= link_to "see more", elem[:link] %>
          <% end %>
        </div><br>
    <% end %>
    <p>That's all for today !</p>
  </body>
</html>
