<navbar class="grid grid-cols-3 items-center justify-center w-screen h-h8 bg-darkblue">
  <%= image_tag 'logo.png', class: "w-12 object-fit m-4 invert" %>
  <div class="flex justify-center">
    <p class="text-white font-bold"><%= t '.title' %></p>
  </div>
  <% if user_signed_in? %>
    <%= link_to t('shared.logout'), destroy_user_session_path, data: { turbo_method: "delete" }, class: "font-bold mr-4 justify-self-end text-white" %>
  <% else %>
    <div class="flex justify-end">
      <%= link_to t('shared.login'), user_session_path, class: "font-bold text-white mr-4 justify-self-end" %>
      <%= link_to t('shared.signup'), new_user_session_path,  class: "font-bold text-white mr-4 justify-self-end" %>
    </div>
  <% end %>
</navbar>
