<section class="home-container flex flex-col w-11/12 md:w-10/12  h-full mx-auto py-8">
  <h1 class="font-bold"><%= t '.title_home' %></h1>
  <p class="my-8">
    <% if user_signed_in? %>
      <%= t '.paragraph_signed_in' %>
    <% else %>
      <%= t '.paragraph_html' %>
    <% end %>
  </p>
  <% if user_signed_in? %>
    <div data-controller="cards" class="grid grid-cols-1 sm:grid-cols-3 gap-12 mt-8 w-full h-full items-center">
      <%= link_to accounts_path, class: "border border-beige w-full h-full grid grid-rows-cards justify-center items-center bg-beige p-10 hover:scale-101 hover:brightness-95 z-0" do %>
          <%= image_tag 'budget.png', class: "w-1/2 justify-self-center"%>
          <p class="font-bold text-center"><%= t '.budget-title' %></p>
      <% end %>
      <%= link_to spell_checker_path, class: "border border-beige w-full h-full grid grid-rows-cards justify-center items-center bg-beige p-10 hover:scale-101 hover:brightness-95 z-0" do %>
        <%= image_tag 'checker.png', class: "w-1/2 justify-self-center"%>
        <p class="font-bold text-center"><%= t '.checker-title' %></p>
      <% end %>
      <% if @user.sources.present? %>
        <%= link_to chosen_sources_path, class: "border border-beige w-full h-full grid grid-rows-cards justify-center items-center bg-beige p-10 hover:scale-101 hover:brightness-95 z-0" do %>
          <%= image_tag 'rss.png', class: "w-1/2 justify-self-center"%>
          <p class="font-bold text-center"><%= t '.news-feed-title' %></p>
        <% end %>
      <% else %>
        <%= link_to sources_path, class: "border border-beige w-full h-full grid grid-rows-cards justify-center items-center bg-beige p-10 hover:scale-101 hover:brightness-95 z-0" do %>
          <%= image_tag 'rss.png', class: "w-1/2 justify-self-center"%>
          <p class="font-bold text-center"><%= t '.news-feed-title' %></p>
        <% end %>
      <% end %>
      <%= link_to short_urls_path, class: "border border-beige w-full h-full grid grid-rows-cards justify-center items-center bg-beige p-10 hover:scale-101 hover:brightness-95 z-0" do %>
        <%= image_tag 'url.png', class: "w-1/2 justify-self-center"%>
        <p class="font-bold text-center"><%= t '.short-url-title' %></p>
      <% end %>
      <%= link_to weather_path, class: "border border-beige w-full h-full grid grid-rows-cards justify-center items-center bg-beige p-10 hover:scale-101 hover:brightness-95 z-0" do %>
        <%= image_tag 'weather.png', class: "w-1/2 justify-self-center"%>
        <p class="font-bold text-center"><%= t '.weather-title' %></p>
      <% end %>
    </div>
  <% else %>
    <div data-controller="cards" class="grid grid-cols-1 gap-12 mt-8 w-11/12 lg:w-8/12 h-full mx-auto">
      <div class="grid grid-cols-cards items-center w-full">
        <div data-cards-target="firstdiv" class="opacity-0 border border-beige w-1/2 grid grid-rows-cards justify-center items-center bg-beige p-10 transition-all delay-300">
          <%= image_tag 'budget.png', class: "w-full justify-self-center"%>
          <p class="font-bold text-center"><%= t '.budget-title' %></p>
        </div>
        <p data-cards-target="firstp" class="opacity-0 font-bold text-justify transition-all delay-300"><%= t '.budget-text' %></p>
      </div>
      <div class="grid grid-cols-cards items-center w-full">
        <div data-cards-target="seconddiv" class="opacity-0 border border-beige w-1/2 grid grid-rows-cards justify-center items-center bg-beige p-10 transition-all delay-1000">
          <%= image_tag 'checker.png', class: "w-full justify-self-center"%>
          <p class="font-bold text-center"><%= t '.checker-title' %></p>
        </div>
        <p data-cards-target="secondp" class="opacity-0 font-bold text-justify delay-1000"><%= t '.checker-text' %></p>
      </div>
      <div class="grid grid-cols-cards items-center w-full">
        <div id="thirddiv" class="opacity-0 border border-beige w-1/2 grid grid-rows-cards justify-center items-center bg-beige p-10 transition-all">
          <%= image_tag 'rss.png', class: "w-full justify-self-center"%>
          <p class="font-bold text-center"><%= t '.news-feed-title' %></p>
        </div>
        <p id="thirdp" class="opacity-0 font-bold text-justify"><%= t '.news-feed-text' %></p>
      </div>
      <div class="grid grid-cols-cards items-center w-full">
        <div id="fourthdiv" class="opacity-0 border border-beige w-1/2 grid grid-rows-cards justify-center items-center bg-beige p-10 transition-all">
          <%= image_tag 'url.png', class: "w-full justify-self-center"%>
          <p class="font-bold text-center"><%= t '.short-url-title' %></p>
        </div>
        <p id="fourthp" class="opacity-0 font-bold text-justify"><%= t '.short-url-text' %></p>
      </div>
      <div class="grid grid-cols-cards items-center w-full">
        <div id="fifthdiv" class="opacity-0 border border-beige w-1/2 grid grid-rows-cards justify-center items-center bg-beige p-10 transition-all">
          <%= image_tag 'weather.png', class: "w-full justify-self-center"%>
          <p class="font-bold text-center"><%= t '.weather-title' %></p>
        </div>
        <p id="fifthp" class="opacity-0 font-bold text-justify"><%= t '.weather-text' %></p>
      </div>
    </div>
  <% end %>
</section>
