<% content_for :meta_description do %>
  <%= t '.meta_description' %>
<% end %>
<section class="spell-container flex flex-col w-10/12 lg:w-8/12 h-3/4 mx-auto py-12">
  <h1 class="font-bold"><%= t '.title' %></h1>
  <h2 class="mt-6 mb-14 italic"><%= t '.subtitle' %></h2>
  <form <% if @locale.nil? %>
          action="/fr/spell_checked"
        <% else %>
          action="/<%= @locale %>/spell_checked"
        <% end %>
        method="post" class="flex flex-col bg-lightblue w-full p-4">
    <div class="flex flex-col justify-start items-center sm:flex-row sm:justify-between sm:items-start w-full">
      <div class='flex flex-col items-start w-11/12 sm:w-5/12 mb-4 sm:mb-0'>
        <label for="search" class='font-semibold mb-2'><%= t '.search_label' %></label>
        <input name="search" id="search" type="text" placeholder="acueille" class="w-full" />
      </div>
      <fieldset class="flex flex-col items-start w-11/12 sm:w-5/12">
        <legend class="font-semibold mb-2"><%= t'.legend' %></legend>
        <div class="flex justify-between items-center w-full">
          <label for="french" class="mb-2"><%= t '.french_label' %></label>
          <input name="language" id="french" type="radio" value="fr"
            <% if @locale == 'fr'%>checked<% end %>
          />
        </div>
        <div class="flex justify-between items-center w-full">
          <label for="english" class="mb-2"><%= t '.english_label' %></label>
          <input name="language" id="english" type="radio" value="en"
            <% if @locale == 'en'%>checked<% end %>
          />
        </div>
      </fieldset>
    </div>
    <input type="submit" value="<%= t :validate %>" class='btn-beige self-center mt-10 mb-4'/>
    <%= turbo_frame_tag "response", class: "my-2" %>
  </form>
  <%= image_tag 'checker.png', class: "max-h-32 md:max-h-40 mx-auto opacity-30 pt-4" %>
</section>

