<% content_for :meta_description do %>
  <%= t '.meta_description' %>
<% end %>
<section data-controller="weather" class="weather-container flex flex-col w-10/12 lg:w-8/12 lg:h-3/4 mx-auto mb-8 py-12">
  <h1 class="font-bold my-4"><%= t '.title' %></h1>
  <h2 class="mb-14 italic"><%= t '.subtitle' %></h2>
  <div class="flex flex-col justify-start items-center sm:flex-row sm:justify-between sm:items-start w-fullmb-12 bg-lightblue p-8">
    <div class="flex flex-col w-11/12 sm:w-5/12">
      <form data-weather-target="form" data-action="submit->weather#insertResult" class="flex flex-col items-start w-full">
        <div class='flex flex-col items-start w-full mb-4'>
          <label for="search" class='font-semibold mb-2'><%= t '.label' %></label>
          <input data-weather-target="input" name="search" id="search" type="text" placeholder="Lyon, London, New York..." class="w-full" />
        </div>
        <input  type="submit" value="<%= t :validate %>" class='btn-beige mb-4 sm:mb-0'/>
        <p data-weather-target="error" class='text-red-500 my-4 italic hidden'><%= t '.not_found' %></p>
      </form>
    </div>
    <table class="border border-solid border-black w-11/12 sm:w-5/12">
      <tr class="border border-solid bg-beige">
        <th id="no_text" class="border border-solid w-1/3"></th>
        <!-- id for system test-->
        <th class="border border-solid p-2"><%= t '.eight' %></th>
        <th class="border border-solid p-2"><%= t '.fourteen' %></th>
        <th class="border border-solid p-2"><%= t '.twenty' %></th>
      </tr>
      <tr class="border border-solid">
        <td class="font-semibold border border-solid p-2 bg-beige"><%= t '.tendency' %></td>
        <td id="td_test" data-weather-target="tend8" class="border border-solid bg-white"></td>
        <!-- id for system test-->
        <td data-weather-target="tend14" class="border border-solid bg-white"></td>
        <td data-weather-target="tend20" class="border border-solid bg-white"></td>
      </tr>
      <tr class="border border-solid">
        <td class="font-semibold border border-solid p-2 bg-beige"><%= t '.temperature' %></td>
        <td data-weather-target="temp8" class="border border-solid text-center bg-white"></td>
        <td data-weather-target="temp14" class="border border-solid text-center bg-white"></td>
        <td data-weather-target="temp20" class="border border-solid text-center bg-white"></td>
      </tr>
      <tr class="border border-solid">
        <td class="font-semibold border border-solid p-2 bg-beige"><%= t '.probablity' %></td>
        <td data-weather-target="prev8" class="border border-solid p-2 text-center bg-white"></td>
        <td data-weather-target="prev14" class="border border-solid text-center bg-white"></td>
        <td data-weather-target="prev20" class="border border-solid text-center bg-white"></td>
      </tr>
      <tr class="border border-solid">
        <td class="font-semibold border border-solid p-2 bg-beige"><%= t '.wind' %></td>
        <td data-weather-target="wind8"class="border border-solid p-2 text-center bg-white"></td>
        <td data-weather-target="wind14" class="border border-solid text-center bg-white"></td>
        <td data-weather-target="wind20" class="border border-solid text-center bg-white"></td>
      </tr>
    </table>
  </div>
  <%= image_tag 'weather.png', class: "max-h-32 md:max-h-40 mx-auto mb-2 opacity-30" %>

</section>

