<!DOCTYPE html>
<html class="overflow-hidden">
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>" />
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag %>
  </head>

  <body class="w-screen h-screen overflow-hidden">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <main data-controller="back-to-top" data-action="scroll->back-to-top#showButton" data-back-to-top-target="main" class="main-container w-full h-h80 sm:h-h60 md:h-h80 overflow-y-scroll">
      <%= yield %>
      <button data-action="click->back-to-top#upToTop" data-back-to-top-target="button" class="bg-beige p-2 sticky bottom-4 left-[95%] hidden"><i class="fas fa-chevron-up"></i></button>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
