<% content_for :meta_description do %>
  <%= t '.meta_description' %>
<% end %>
<div class="accounts-container w-11/12 lg:w-8/12 mx-auto pt-12">
  <h1 class="font-bold text-lg mb-4"><%= t '.title' %></h1>
  <div class="flex flex-col-reverse md:flex-row justify-center md:justify-between w-full">
    <aside class="w-11/12 md:w-w40 lg:w-30 xl:w-1/4 h-fit mt-12 mx-auto md:mr-8 md:ml-0">
      <!-- planned transactions -->
      <div class="flex flex-col bg-lightblue border h-fit p-4 mb-4">
        <h2 class="font-bold text-lg mb-4"><%= t '.planned_transactions' %></h2>
        <%= link_to t('accounts.index.new_planned_transaction_link'), new_planned_transaction_path, class: 'text-base hover:underline mb-2' %>
        <%= link_to t('accounts.index.show_planned_transactions'), planned_transactions_path, class: 'text-base hover:underline' %>
      </div>
      <!-- categories -->
      <div class="flex flex-col w-full bg-lightblue border p-2">
        <h2 class="font-bold text-lg mb-4">Catégories</h2>
        <%= link_to t('accounts.show.create_category'), new_category_path, class: 'text-base mb-2 hover:underline' %>
        <%= link_to t('accounts.show.show_categories'), categories_path, class: 'text-base hover:underline' %>
      </div>
    </aside>
    <!-- accounts -->
    <section class="w-11/12 md:w-1/2 lg:w-2/3 h-fit mt-12 mx-auto md:mx-0">
      <div class="flex justify-between items-start bg-lightblue border p-4">
        <div class="flex flex-col">
          <h2 class="font-bold text-lg mb-4"><%= t '.my_accounts' %></h2>
          <h3 class="text-base mb-2"><%= t '.accounts_number' %> : <span class="font-semibold"><%= @accounts.size %></span></h3>
          <h3 class="text-base"><%= t '.total_balance' %> : <span class="font-semibold"> <%= number_to_currency(@total) %></span></h3>
        </div>
        <%= link_to t('accounts.index.new_url_link'), new_account_path, class: "btn-beige" %>
      </div>
      <div class="grid grid-cols-2 gap-4 border mt-4 p-4">
        <%= render @accounts %>
      </div>
    </section>
  </div>
  <%= image_tag 'budget.png', class: "max-h-36 mx-auto mt-12 opacity-30 mb-2" %>
</div>
