<% content_for :meta_description do %>
  <%= t '.meta_description' %>
<% end %>
<section class="accounts-container w-10/12 lg:w-1/2 mx-auto mt-12">
  <h1 class="font-bold text-lg my-4"><%= t '.title' %></h1>
  <div class="flex justify-between items-center">
    <div class="flex flex-col justify-start">
      <h2 class="font-bold text-base my-4"><%= t '.my_accounts' %></h2>
      <h2 class="text-base">Total : <span class="font-semibold"> <%= number_to_currency(@total) %></span></h2>
    </div>
    <%= link_to t('accounts.index.new_url_link'), new_account_path, class: "bg-beige border border-black rounded border-beige font-semibold w-fit p-2 hover:bg-darkblue hover:text-white" %>
  </div>
    <%= render @accounts %>
</section>

