<section class="account-container w-1/2 h-1-2 overflow-y-scroll mx-auto mt-12">
  <div class="border px-2">
    <div class="flex justify-between items-center mt-4 mb-2">
      <h1 class="font-bold text-lg"><%= t('accounts.show.title', name: @account.name) %></h1>
      <%= turbo_frame_tag dom_id(@account, :balance) do %>
        <%= render 'balance', account: @account %>
      <% end %>
    </div>
    <div class='flex justify-between items-center mb-4'>
      <%= link_to t('accounts.show.edit_btn'), edit_account_path(@account), class: "bg-beige border border-beige font-semibold w-fit block p-2 hover:bg-darkblue hover:text-white"%>
      <%= link_to t('.back'), accounts_path, class: "bg-beige border border-beige font-semibold w-fit block p-2 hover:bg-darkblue hover:text-white" %>
    </div>
      <%= link_to t('accounts.show.add_transactions_link'), new_account_transaction_path(@account), data: { turbo_frame: dom_id(Transaction.new) }, class: "bg-beige border border-beige font-semibold w-fit block p-2 hover:bg-darkblue hover:text-white mt-8 mb-4" %>
      <%= turbo_frame_tag Transaction.new %>
  </div>
  <div class="border mt-12 px-2">
    <h2 class="font-semibold text-lg my-4"><%= t '.transactions' %></h2>
    <div class="flex flex-col justify-between items-start w-full mx-auto mb-4">
      <%= turbo_frame_tag 'transactions', class: "w-full" do %>
        <%= render @transactions %>
      <% end %>
    </div>
  </div>
</section>
